.center-it{
  text-align: center;
}
#name{
  border-radius: 5px;
  border: 0px solid
}
#emailid{
  border-radius: 5px;
  border: 0px solid
}
#phno{
  border-radius: 5px;
  border: 0px solid
}
#userpassword{
  border-radius: 5px;
  border: 0px solid
}
#conpassword{
  border-radius: 5px;
  border: 0px solid
}
