.center-it{
  text-align: center;
}

#fname{
  border-radius: 5px;
  border: 0px solid;
}

#fname{
  border-radius: 5px;
  border: 0px solid;
}

#lname{
  border-radius: 5px;
  border: 0px solid;
}

#mail{
  border-radius: 5px;
  border: 0px solid;
}


#pass1{
  border-radius: 5px;
  border: 0px solid;
}

#pass2{
  border-radius: 5px;
  border: 0px solid;
}
